html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

a {
    color: yellowgreen;
    transition: all .35s;
}

a:hover {
    color: forestgreen;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* HEADER */
header {
    width: 100%;
    text-align: center;
    color: #fff;
    background: url('../images/header.jpg') center / cover no-repeat;
}

.section-heading {
    margin-bottom: 20px;
}

/* SECTIONS */
.intro {
    color: #fff;
    background-color: yellowgreen;
    padding: 70px 0;
    text-align: center;
}

.content {
    padding: 100px 0;
}

.content-2 {
    color: #fff;
    background-color: #222;
}

.content-3 {
    padding: 20px 0 40px;
    text-align: center;
}

/* PROMO */
.promo,
.promo a {
    color: white;
    text-shadow: 0 0 40px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.promo-item:hover {
    border: 10px solid rgba(255, 255, 255, 0.3);
    line-height: 160px;
}

.promo-item h3 {
    font-size: 40px;
}

/* FOOTER */
.page-footer {
    text-align: center;
}

.page-footer .contact {
    padding: 100px 0;
    background-color: yellowgreen;
    color: #fff;
}

/* ICONS */
.content-3 i,
.page-footer .contact i {
    font-size: 32px;
}

/* NAVBAR (BS5) */
.navbar {
    transition: all .35s;
}

.navbar .navbar-brand {
    color: yellowgreen;
    letter-spacing: 0.3em;
}

.navbar .nav-link {
    color: #222;
}

.navbar .nav-link:hover {
    color: yellowgreen;
}

/* BUTTONS */
.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: yellowgreen;
    border-color: yellowgreen;
}

.btn-primary:hover {
    background-color: limegreen;
    border-color: limegreen;
}

/* UTILITIES */
.text-primary {
    color: yellowgreen !important;
}

.bg-primary {
    background-color: yellowgreen !important;
}